/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



/* Overall style */
.container{
    width: 60%;
    margin: 0 auto;
}


html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 600px) {
    .container {
        width: 60%;
    }
}

/* Header style */

header {
    display: flex;
    flex-direction: column;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 20px 10px 0px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    animation-name: spinner;
    animation-duration: 1.5s;
}

header .header-img {
    margin: 20px 0px;
}

@media (max-width: 600px) {
    header nav {
        flex-wrap: wrap;
    }
    header a {
        width: 100%;
    }
}

/* Top Content Style */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 95%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* Middle Content Style */

.middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.middle-content .text-container {
    width: 45%;
    padding: 0 1%;
    padding-bottom: 20px;  
    border-bottom: 1px dashed black;
    margin: 10px 0px;
}

button {
    width: 120px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    border-radius: 10px;
    padding: 7px 10px;
}

button:hover {
    animation-name: learn-more;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

@media (max-width: 1400px) {
    .middle-content .text-container {
        width: 350px;
    }
}

/* Bottom Content Style */

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bottom-content .text-container {
    width: 95%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* Footer Style */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

footer nav a:hover {
    animation-name: spinner;
    animation-duration: 1.5s;
}

/* animations */

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes learn-more {
        0% { transform: translate(1px, 1px) rotate(0deg); 
            color: red;
            background-color:yellow;
        }
        10% { transform: translate(-1px, -2px) rotate(-1deg); 
            color: red;
            background-color:yellow;
        }
        20% { transform: translate(-3px, 0px) rotate(1deg); 
            color: red;
            background-color:yellow;
        }
        30% { transform: translate(3px, 2px) rotate(0deg); 
            color: red;
            background-color:yellow;
        }
        40% { transform: translate(1px, -1px) rotate(1deg); 
            color: red;
            background-color:yellow;
        }
        50% { transform: translate(-1px, 2px) rotate(-1deg); 
            color: yellow;
            background-color:red;
        }
        60% { transform: translate(-3px, 1px) rotate(0deg); 
            color: yellow;
            background-color:red;
        }
        70% { transform: translate(3px, 1px) rotate(-1deg); 
            color: yellow;
            background-color:red;
        }
        80% { transform: translate(-1px, -1px) rotate(1deg); 
            color: yellow;
            background-color:red;
        }
        90% { transform: translate(1px, 2px) rotate(0deg); 
            color: yellow;
            background-color:red;
        }
        100% { transform: translate(1px, -2px) rotate(-1deg); 
            color: yellow;
            background-color:red;
        }
}
